body {
  margin: 0;
  padding: 0;
  background: #769dc4;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 113px -110.3333333333px hsl(39deg, 100%, 50%), -58px 33.6666666667px hsl(175deg, 100%, 50%), 71px 18.6666666667px hsl(349deg, 100%, 50%), -168px -32.3333333333px hsl(136deg, 100%, 50%), -241px -157.3333333333px hsl(100deg, 100%, 50%), -141px -272.3333333333px hsl(199deg, 100%, 50%), 68px -112.3333333333px hsl(277deg, 100%, 50%), 227px -322.3333333333px hsl(345deg, 100%, 50%), -49px -66.3333333333px hsl(43deg, 100%, 50%), 96px -214.3333333333px hsl(82deg, 100%, 50%), -20px 65.6666666667px hsl(154deg, 100%, 50%), 39px 6.6666666667px hsl(230deg, 100%, 50%), 194px 51.6666666667px hsl(236deg, 100%, 50%), 169px -93.3333333333px hsl(284deg, 100%, 50%), 9px -89.3333333333px hsl(71deg, 100%, 50%), -208px -314.3333333333px hsl(80deg, 100%, 50%), 52px -289.3333333333px hsl(172deg, 100%, 50%), -164px -76.3333333333px hsl(160deg, 100%, 50%), 12px -264.3333333333px hsl(32deg, 100%, 50%), 186px -314.3333333333px hsl(322deg, 100%, 50%), 54px -15.3333333333px hsl(302deg, 100%, 50%), 82px -166.3333333333px hsl(97deg, 100%, 50%), -126px -184.3333333333px hsl(241deg, 100%, 50%), -104px -153.3333333333px hsl(61deg, 100%, 50%), 211px -163.3333333333px hsl(223deg, 100%, 50%), 191px 12.6666666667px hsl(268deg, 100%, 50%), 70px -169.3333333333px hsl(250deg, 100%, 50%), -3px 8.6666666667px hsl(214deg, 100%, 50%), -103px -65.3333333333px hsl(259deg, 100%, 50%), 73px -198.3333333333px hsl(341deg, 100%, 50%), -142px 58.6666666667px hsl(301deg, 100%, 50%), 81px -260.3333333333px hsl(222deg, 100%, 50%), 12px 52.6666666667px hsl(65deg, 100%, 50%), 38px 31.6666666667px hsl(47deg, 100%, 50%), -106px -282.3333333333px hsl(206deg, 100%, 50%), 242px -227.3333333333px hsl(171deg, 100%, 50%), 114px -33.3333333333px hsl(95deg, 100%, 50%), 18px -260.3333333333px hsl(13deg, 100%, 50%), -242px -267.3333333333px hsl(245deg, 100%, 50%), 170px -151.3333333333px hsl(129deg, 100%, 50%), 144px -26.3333333333px hsl(123deg, 100%, 50%), -122px -73.3333333333px hsl(257deg, 100%, 50%), 140px 42.6666666667px hsl(77deg, 100%, 50%), -97px -292.3333333333px hsl(122deg, 100%, 50%), -229px -34.3333333333px hsl(245deg, 100%, 50%), -35px 3.6666666667px hsl(167deg, 100%, 50%), 78px 5.6666666667px hsl(140deg, 100%, 50%), -171px -85.3333333333px hsl(175deg, 100%, 50%), -2px -135.3333333333px hsl(54deg, 100%, 50%), 128px -208.3333333333px hsl(213deg, 100%, 50%), -108px 63.6666666667px hsl(17deg, 100%, 50%), 241px -19.3333333333px hsl(249deg, 100%, 50%), 33px -194.3333333333px hsl(318deg, 100%, 50%), 19px 36.6666666667px hsl(15deg, 100%, 50%), 229px 53.6666666667px hsl(229deg, 100%, 50%), 63px -322.3333333333px hsl(140deg, 100%, 50%), -11px 44.6666666667px hsl(126deg, 100%, 50%), 65px -55.3333333333px hsl(320deg, 100%, 50%), -216px -292.3333333333px hsl(297deg, 100%, 50%), 129px 40.6666666667px hsl(307deg, 100%, 50%), 209px -101.3333333333px hsl(173deg, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: 113px -110.3333333333px hsl(39deg, 100%, 50%), -58px 33.6666666667px hsl(175deg, 100%, 50%), 71px 18.6666666667px hsl(349deg, 100%, 50%), -168px -32.3333333333px hsl(136deg, 100%, 50%), -241px -157.3333333333px hsl(100deg, 100%, 50%), -141px -272.3333333333px hsl(199deg, 100%, 50%), 68px -112.3333333333px hsl(277deg, 100%, 50%), 227px -322.3333333333px hsl(345deg, 100%, 50%), -49px -66.3333333333px hsl(43deg, 100%, 50%), 96px -214.3333333333px hsl(82deg, 100%, 50%), -20px 65.6666666667px hsl(154deg, 100%, 50%), 39px 6.6666666667px hsl(230deg, 100%, 50%), 194px 51.6666666667px hsl(236deg, 100%, 50%), 169px -93.3333333333px hsl(284deg, 100%, 50%), 9px -89.3333333333px hsl(71deg, 100%, 50%), -208px -314.3333333333px hsl(80deg, 100%, 50%), 52px -289.3333333333px hsl(172deg, 100%, 50%), -164px -76.3333333333px hsl(160deg, 100%, 50%), 12px -264.3333333333px hsl(32deg, 100%, 50%), 186px -314.3333333333px hsl(322deg, 100%, 50%), 54px -15.3333333333px hsl(302deg, 100%, 50%), 82px -166.3333333333px hsl(97deg, 100%, 50%), -126px -184.3333333333px hsl(241deg, 100%, 50%), -104px -153.3333333333px hsl(61deg, 100%, 50%), 211px -163.3333333333px hsl(223deg, 100%, 50%), 191px 12.6666666667px hsl(268deg, 100%, 50%), 70px -169.3333333333px hsl(250deg, 100%, 50%), -3px 8.6666666667px hsl(214deg, 100%, 50%), -103px -65.3333333333px hsl(259deg, 100%, 50%), 73px -198.3333333333px hsl(341deg, 100%, 50%), -142px 58.6666666667px hsl(301deg, 100%, 50%), 81px -260.3333333333px hsl(222deg, 100%, 50%), 12px 52.6666666667px hsl(65deg, 100%, 50%), 38px 31.6666666667px hsl(47deg, 100%, 50%), -106px -282.3333333333px hsl(206deg, 100%, 50%), 242px -227.3333333333px hsl(171deg, 100%, 50%), 114px -33.3333333333px hsl(95deg, 100%, 50%), 18px -260.3333333333px hsl(13deg, 100%, 50%), -242px -267.3333333333px hsl(245deg, 100%, 50%), 170px -151.3333333333px hsl(129deg, 100%, 50%), 144px -26.3333333333px hsl(123deg, 100%, 50%), -122px -73.3333333333px hsl(257deg, 100%, 50%), 140px 42.6666666667px hsl(77deg, 100%, 50%), -97px -292.3333333333px hsl(122deg, 100%, 50%), -229px -34.3333333333px hsl(245deg, 100%, 50%), -35px 3.6666666667px hsl(167deg, 100%, 50%), 78px 5.6666666667px hsl(140deg, 100%, 50%), -171px -85.3333333333px hsl(175deg, 100%, 50%), -2px -135.3333333333px hsl(54deg, 100%, 50%), 128px -208.3333333333px hsl(213deg, 100%, 50%), -108px 63.6666666667px hsl(17deg, 100%, 50%), 241px -19.3333333333px hsl(249deg, 100%, 50%), 33px -194.3333333333px hsl(318deg, 100%, 50%), 19px 36.6666666667px hsl(15deg, 100%, 50%), 229px 53.6666666667px hsl(229deg, 100%, 50%), 63px -322.3333333333px hsl(140deg, 100%, 50%), -11px 44.6666666667px hsl(126deg, 100%, 50%), 65px -55.3333333333px hsl(320deg, 100%, 50%), -216px -292.3333333333px hsl(297deg, 100%, 50%), 129px 40.6666666667px hsl(307deg, 100%, 50%), 209px -101.3333333333px hsl(173deg, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*HERO CARD*/
.image-main {
  max-width: 25rem;
  max-height: 25rem;
}

body {
  overflow: initial;
}/*# sourceMappingURL=styles.css.map */