body {
  margin: 0;
  padding: 0;
  background: #769dc4;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -234px -315.3333333333px hsl(263deg, 100%, 50%), 175px -27.3333333333px hsl(292deg, 100%, 50%), -232px -79.3333333333px hsl(192deg, 100%, 50%), 4px -289.3333333333px hsl(2deg, 100%, 50%), -3px 58.6666666667px hsl(228deg, 100%, 50%), 102px 6.6666666667px hsl(103deg, 100%, 50%), 128px -245.3333333333px hsl(180deg, 100%, 50%), -59px 10.6666666667px hsl(104deg, 100%, 50%), 71px -330.3333333333px hsl(174deg, 100%, 50%), -44px -76.3333333333px hsl(317deg, 100%, 50%), -62px -63.3333333333px hsl(143deg, 100%, 50%), -63px -121.3333333333px hsl(154deg, 100%, 50%), -15px -95.3333333333px hsl(42deg, 100%, 50%), -116px -220.3333333333px hsl(245deg, 100%, 50%), 112px -204.3333333333px hsl(25deg, 100%, 50%), 67px -324.3333333333px hsl(26deg, 100%, 50%), -126px -44.3333333333px hsl(269deg, 100%, 50%), -242px -245.3333333333px hsl(132deg, 100%, 50%), -33px -180.3333333333px hsl(11deg, 100%, 50%), -162px -176.3333333333px hsl(59deg, 100%, 50%), 249px -121.3333333333px hsl(289deg, 100%, 50%), -51px -223.3333333333px hsl(72deg, 100%, 50%), 83px -0.3333333333px hsl(142deg, 100%, 50%), -207px -81.3333333333px hsl(94deg, 100%, 50%), 162px -107.3333333333px hsl(240deg, 100%, 50%), 41px -251.3333333333px hsl(336deg, 100%, 50%), -111px -21.3333333333px hsl(20deg, 100%, 50%), 167px -191.3333333333px hsl(268deg, 100%, 50%), 66px 6.6666666667px hsl(8deg, 100%, 50%), 110px 20.6666666667px hsl(320deg, 100%, 50%), 113px -232.3333333333px hsl(252deg, 100%, 50%), -160px -165.3333333333px hsl(357deg, 100%, 50%), 249px -141.3333333333px hsl(257deg, 100%, 50%), -235px 17.6666666667px hsl(222deg, 100%, 50%), 197px -6.3333333333px hsl(280deg, 100%, 50%), 121px -281.3333333333px hsl(121deg, 100%, 50%), 111px 58.6666666667px hsl(299deg, 100%, 50%), -99px -81.3333333333px hsl(335deg, 100%, 50%), -150px -90.3333333333px hsl(94deg, 100%, 50%), 76px 54.6666666667px hsl(277deg, 100%, 50%), -27px 48.6666666667px hsl(350deg, 100%, 50%), -39px -17.3333333333px hsl(245deg, 100%, 50%), -43px -157.3333333333px hsl(318deg, 100%, 50%), 156px -293.3333333333px hsl(253deg, 100%, 50%), 6px -263.3333333333px hsl(21deg, 100%, 50%), -19px -80.3333333333px hsl(338deg, 100%, 50%), -14px -302.3333333333px hsl(112deg, 100%, 50%), -23px -288.3333333333px hsl(338deg, 100%, 50%), -181px -247.3333333333px hsl(11deg, 100%, 50%), -141px 24.6666666667px hsl(354deg, 100%, 50%), 140px -85.3333333333px hsl(179deg, 100%, 50%), 161px -229.3333333333px hsl(70deg, 100%, 50%), -46px -325.3333333333px hsl(152deg, 100%, 50%), -169px -71.3333333333px hsl(25deg, 100%, 50%), 122px -250.3333333333px hsl(293deg, 100%, 50%), -205px -288.3333333333px hsl(200deg, 100%, 50%), -225px -46.3333333333px hsl(164deg, 100%, 50%), -159px -133.3333333333px hsl(167deg, 100%, 50%), 100px -38.3333333333px hsl(71deg, 100%, 50%), -1px -145.3333333333px hsl(201deg, 100%, 50%), -67px 13.6666666667px hsl(50deg, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: -234px -315.3333333333px hsl(263deg, 100%, 50%), 175px -27.3333333333px hsl(292deg, 100%, 50%), -232px -79.3333333333px hsl(192deg, 100%, 50%), 4px -289.3333333333px hsl(2deg, 100%, 50%), -3px 58.6666666667px hsl(228deg, 100%, 50%), 102px 6.6666666667px hsl(103deg, 100%, 50%), 128px -245.3333333333px hsl(180deg, 100%, 50%), -59px 10.6666666667px hsl(104deg, 100%, 50%), 71px -330.3333333333px hsl(174deg, 100%, 50%), -44px -76.3333333333px hsl(317deg, 100%, 50%), -62px -63.3333333333px hsl(143deg, 100%, 50%), -63px -121.3333333333px hsl(154deg, 100%, 50%), -15px -95.3333333333px hsl(42deg, 100%, 50%), -116px -220.3333333333px hsl(245deg, 100%, 50%), 112px -204.3333333333px hsl(25deg, 100%, 50%), 67px -324.3333333333px hsl(26deg, 100%, 50%), -126px -44.3333333333px hsl(269deg, 100%, 50%), -242px -245.3333333333px hsl(132deg, 100%, 50%), -33px -180.3333333333px hsl(11deg, 100%, 50%), -162px -176.3333333333px hsl(59deg, 100%, 50%), 249px -121.3333333333px hsl(289deg, 100%, 50%), -51px -223.3333333333px hsl(72deg, 100%, 50%), 83px -0.3333333333px hsl(142deg, 100%, 50%), -207px -81.3333333333px hsl(94deg, 100%, 50%), 162px -107.3333333333px hsl(240deg, 100%, 50%), 41px -251.3333333333px hsl(336deg, 100%, 50%), -111px -21.3333333333px hsl(20deg, 100%, 50%), 167px -191.3333333333px hsl(268deg, 100%, 50%), 66px 6.6666666667px hsl(8deg, 100%, 50%), 110px 20.6666666667px hsl(320deg, 100%, 50%), 113px -232.3333333333px hsl(252deg, 100%, 50%), -160px -165.3333333333px hsl(357deg, 100%, 50%), 249px -141.3333333333px hsl(257deg, 100%, 50%), -235px 17.6666666667px hsl(222deg, 100%, 50%), 197px -6.3333333333px hsl(280deg, 100%, 50%), 121px -281.3333333333px hsl(121deg, 100%, 50%), 111px 58.6666666667px hsl(299deg, 100%, 50%), -99px -81.3333333333px hsl(335deg, 100%, 50%), -150px -90.3333333333px hsl(94deg, 100%, 50%), 76px 54.6666666667px hsl(277deg, 100%, 50%), -27px 48.6666666667px hsl(350deg, 100%, 50%), -39px -17.3333333333px hsl(245deg, 100%, 50%), -43px -157.3333333333px hsl(318deg, 100%, 50%), 156px -293.3333333333px hsl(253deg, 100%, 50%), 6px -263.3333333333px hsl(21deg, 100%, 50%), -19px -80.3333333333px hsl(338deg, 100%, 50%), -14px -302.3333333333px hsl(112deg, 100%, 50%), -23px -288.3333333333px hsl(338deg, 100%, 50%), -181px -247.3333333333px hsl(11deg, 100%, 50%), -141px 24.6666666667px hsl(354deg, 100%, 50%), 140px -85.3333333333px hsl(179deg, 100%, 50%), 161px -229.3333333333px hsl(70deg, 100%, 50%), -46px -325.3333333333px hsl(152deg, 100%, 50%), -169px -71.3333333333px hsl(25deg, 100%, 50%), 122px -250.3333333333px hsl(293deg, 100%, 50%), -205px -288.3333333333px hsl(200deg, 100%, 50%), -225px -46.3333333333px hsl(164deg, 100%, 50%), -159px -133.3333333333px hsl(167deg, 100%, 50%), 100px -38.3333333333px hsl(71deg, 100%, 50%), -1px -145.3333333333px hsl(201deg, 100%, 50%), -67px 13.6666666667px hsl(50deg, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*HERO CARD*/
.image-main {
  max-width: 25rem;
  max-height: 25rem;
}

body {
  overflow: initial;
}/*# sourceMappingURL=styles.css.map */