body {
  margin: 0;
  padding: 0;
  background: #769dc4;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 135px -208.3333333333px hsl(249deg, 100%, 50%), -164px -194.3333333333px hsl(249deg, 100%, 50%), 2px -166.3333333333px hsl(41deg, 100%, 50%), 239px -173.3333333333px hsl(24deg, 100%, 50%), -84px 20.6666666667px hsl(0deg, 100%, 50%), -139px -20.3333333333px hsl(267deg, 100%, 50%), -242px -73.3333333333px hsl(350deg, 100%, 50%), -179px -79.3333333333px hsl(82deg, 100%, 50%), 244px -60.3333333333px hsl(218deg, 100%, 50%), -56px -1.3333333333px hsl(308deg, 100%, 50%), -196px -58.3333333333px hsl(49deg, 100%, 50%), -247px -295.3333333333px hsl(150deg, 100%, 50%), 204px -299.3333333333px hsl(94deg, 100%, 50%), -227px -124.3333333333px hsl(25deg, 100%, 50%), 105px -301.3333333333px hsl(63deg, 100%, 50%), -228px -263.3333333333px hsl(314deg, 100%, 50%), 113px -310.3333333333px hsl(334deg, 100%, 50%), -59px -86.3333333333px hsl(285deg, 100%, 50%), -78px -298.3333333333px hsl(26deg, 100%, 50%), -223px -242.3333333333px hsl(266deg, 100%, 50%), 216px -204.3333333333px hsl(320deg, 100%, 50%), 169px -330.3333333333px hsl(305deg, 100%, 50%), -124px -31.3333333333px hsl(306deg, 100%, 50%), 150px -17.3333333333px hsl(166deg, 100%, 50%), -94px -49.3333333333px hsl(53deg, 100%, 50%), -52px -28.3333333333px hsl(188deg, 100%, 50%), 127px -106.3333333333px hsl(56deg, 100%, 50%), 180px -112.3333333333px hsl(70deg, 100%, 50%), -44px -331.3333333333px hsl(185deg, 100%, 50%), -23px -286.3333333333px hsl(335deg, 100%, 50%), 98px -305.3333333333px hsl(294deg, 100%, 50%), 145px -251.3333333333px hsl(106deg, 100%, 50%), 60px -222.3333333333px hsl(178deg, 100%, 50%), -152px 32.6666666667px hsl(274deg, 100%, 50%), 44px -108.3333333333px hsl(208deg, 100%, 50%), -228px -228.3333333333px hsl(218deg, 100%, 50%), -78px -40.3333333333px hsl(85deg, 100%, 50%), -93px 59.6666666667px hsl(199deg, 100%, 50%), -245px -277.3333333333px hsl(135deg, 100%, 50%), -238px -65.3333333333px hsl(84deg, 100%, 50%), -127px -304.3333333333px hsl(10deg, 100%, 50%), -172px -162.3333333333px hsl(153deg, 100%, 50%), 221px -318.3333333333px hsl(301deg, 100%, 50%), 126px -62.3333333333px hsl(333deg, 100%, 50%), 69px -323.3333333333px hsl(181deg, 100%, 50%), 29px 51.6666666667px hsl(52deg, 100%, 50%), 194px -161.3333333333px hsl(236deg, 100%, 50%), 83px 8.6666666667px hsl(54deg, 100%, 50%), -17px -320.3333333333px hsl(73deg, 100%, 50%), -68px -329.3333333333px hsl(338deg, 100%, 50%), 74px -67.3333333333px hsl(184deg, 100%, 50%), 128px -246.3333333333px hsl(327deg, 100%, 50%), -163px -90.3333333333px hsl(97deg, 100%, 50%), 58px -308.3333333333px hsl(99deg, 100%, 50%), 201px -107.3333333333px hsl(148deg, 100%, 50%), 1px -327.3333333333px hsl(2deg, 100%, 50%), -99px -11.3333333333px hsl(190deg, 100%, 50%), 202px -47.3333333333px hsl(254deg, 100%, 50%), -205px -308.3333333333px hsl(235deg, 100%, 50%), -148px 8.6666666667px hsl(174deg, 100%, 50%), 126px -233.3333333333px hsl(131deg, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: 135px -208.3333333333px hsl(249deg, 100%, 50%), -164px -194.3333333333px hsl(249deg, 100%, 50%), 2px -166.3333333333px hsl(41deg, 100%, 50%), 239px -173.3333333333px hsl(24deg, 100%, 50%), -84px 20.6666666667px hsl(0deg, 100%, 50%), -139px -20.3333333333px hsl(267deg, 100%, 50%), -242px -73.3333333333px hsl(350deg, 100%, 50%), -179px -79.3333333333px hsl(82deg, 100%, 50%), 244px -60.3333333333px hsl(218deg, 100%, 50%), -56px -1.3333333333px hsl(308deg, 100%, 50%), -196px -58.3333333333px hsl(49deg, 100%, 50%), -247px -295.3333333333px hsl(150deg, 100%, 50%), 204px -299.3333333333px hsl(94deg, 100%, 50%), -227px -124.3333333333px hsl(25deg, 100%, 50%), 105px -301.3333333333px hsl(63deg, 100%, 50%), -228px -263.3333333333px hsl(314deg, 100%, 50%), 113px -310.3333333333px hsl(334deg, 100%, 50%), -59px -86.3333333333px hsl(285deg, 100%, 50%), -78px -298.3333333333px hsl(26deg, 100%, 50%), -223px -242.3333333333px hsl(266deg, 100%, 50%), 216px -204.3333333333px hsl(320deg, 100%, 50%), 169px -330.3333333333px hsl(305deg, 100%, 50%), -124px -31.3333333333px hsl(306deg, 100%, 50%), 150px -17.3333333333px hsl(166deg, 100%, 50%), -94px -49.3333333333px hsl(53deg, 100%, 50%), -52px -28.3333333333px hsl(188deg, 100%, 50%), 127px -106.3333333333px hsl(56deg, 100%, 50%), 180px -112.3333333333px hsl(70deg, 100%, 50%), -44px -331.3333333333px hsl(185deg, 100%, 50%), -23px -286.3333333333px hsl(335deg, 100%, 50%), 98px -305.3333333333px hsl(294deg, 100%, 50%), 145px -251.3333333333px hsl(106deg, 100%, 50%), 60px -222.3333333333px hsl(178deg, 100%, 50%), -152px 32.6666666667px hsl(274deg, 100%, 50%), 44px -108.3333333333px hsl(208deg, 100%, 50%), -228px -228.3333333333px hsl(218deg, 100%, 50%), -78px -40.3333333333px hsl(85deg, 100%, 50%), -93px 59.6666666667px hsl(199deg, 100%, 50%), -245px -277.3333333333px hsl(135deg, 100%, 50%), -238px -65.3333333333px hsl(84deg, 100%, 50%), -127px -304.3333333333px hsl(10deg, 100%, 50%), -172px -162.3333333333px hsl(153deg, 100%, 50%), 221px -318.3333333333px hsl(301deg, 100%, 50%), 126px -62.3333333333px hsl(333deg, 100%, 50%), 69px -323.3333333333px hsl(181deg, 100%, 50%), 29px 51.6666666667px hsl(52deg, 100%, 50%), 194px -161.3333333333px hsl(236deg, 100%, 50%), 83px 8.6666666667px hsl(54deg, 100%, 50%), -17px -320.3333333333px hsl(73deg, 100%, 50%), -68px -329.3333333333px hsl(338deg, 100%, 50%), 74px -67.3333333333px hsl(184deg, 100%, 50%), 128px -246.3333333333px hsl(327deg, 100%, 50%), -163px -90.3333333333px hsl(97deg, 100%, 50%), 58px -308.3333333333px hsl(99deg, 100%, 50%), 201px -107.3333333333px hsl(148deg, 100%, 50%), 1px -327.3333333333px hsl(2deg, 100%, 50%), -99px -11.3333333333px hsl(190deg, 100%, 50%), 202px -47.3333333333px hsl(254deg, 100%, 50%), -205px -308.3333333333px hsl(235deg, 100%, 50%), -148px 8.6666666667px hsl(174deg, 100%, 50%), 126px -233.3333333333px hsl(131deg, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*HERO CARD*/
.image-main {
  max-width: 25rem;
  max-height: 25rem;
}

body {
  overflow: initial;
}/*# sourceMappingURL=styles.css.map */