body {
  margin: 0;
  padding: 0;
  background: #769dc4;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 178px -126.3333333333px hsl(19deg, 100%, 50%), 47px -169.3333333333px hsl(281deg, 100%, 50%), -107px -117.3333333333px hsl(351deg, 100%, 50%), -58px -107.3333333333px hsl(147deg, 100%, 50%), 75px -307.3333333333px hsl(131deg, 100%, 50%), -69px -8.3333333333px hsl(320deg, 100%, 50%), 43px -112.3333333333px hsl(280deg, 100%, 50%), 12px -234.3333333333px hsl(181deg, 100%, 50%), -188px -259.3333333333px hsl(12deg, 100%, 50%), 29px -278.3333333333px hsl(144deg, 100%, 50%), 120px -244.3333333333px hsl(139deg, 100%, 50%), -83px -172.3333333333px hsl(290deg, 100%, 50%), -236px -53.3333333333px hsl(286deg, 100%, 50%), 235px -320.3333333333px hsl(180deg, 100%, 50%), 90px -8.3333333333px hsl(144deg, 100%, 50%), 205px 64.6666666667px hsl(332deg, 100%, 50%), -173px -148.3333333333px hsl(113deg, 100%, 50%), -210px -132.3333333333px hsl(129deg, 100%, 50%), 202px -330.3333333333px hsl(120deg, 100%, 50%), -6px -286.3333333333px hsl(84deg, 100%, 50%), 30px -213.3333333333px hsl(259deg, 100%, 50%), 245px -117.3333333333px hsl(142deg, 100%, 50%), -158px -252.3333333333px hsl(161deg, 100%, 50%), 190px -13.3333333333px hsl(19deg, 100%, 50%), 162px -292.3333333333px hsl(166deg, 100%, 50%), 170px -98.3333333333px hsl(189deg, 100%, 50%), 160px -44.3333333333px hsl(313deg, 100%, 50%), 226px 5.6666666667px hsl(304deg, 100%, 50%), 156px -282.3333333333px hsl(73deg, 100%, 50%), -22px -49.3333333333px hsl(287deg, 100%, 50%), 139px -176.3333333333px hsl(348deg, 100%, 50%), -88px -21.3333333333px hsl(64deg, 100%, 50%), 144px -204.3333333333px hsl(356deg, 100%, 50%), -124px 7.6666666667px hsl(277deg, 100%, 50%), -24px -17.3333333333px hsl(218deg, 100%, 50%), -46px -137.3333333333px hsl(278deg, 100%, 50%), -30px -139.3333333333px hsl(31deg, 100%, 50%), -80px -72.3333333333px hsl(326deg, 100%, 50%), 197px -290.3333333333px hsl(350deg, 100%, 50%), -166px -306.3333333333px hsl(283deg, 100%, 50%), -123px 6.6666666667px hsl(18deg, 100%, 50%), 87px -28.3333333333px hsl(118deg, 100%, 50%), 245px -321.3333333333px hsl(82deg, 100%, 50%), -41px -237.3333333333px hsl(226deg, 100%, 50%), -145px -289.3333333333px hsl(114deg, 100%, 50%), -9px -74.3333333333px hsl(276deg, 100%, 50%), 87px -171.3333333333px hsl(134deg, 100%, 50%), -130px -282.3333333333px hsl(318deg, 100%, 50%), -159px -252.3333333333px hsl(250deg, 100%, 50%), -216px -259.3333333333px hsl(211deg, 100%, 50%), -83px -19.3333333333px hsl(161deg, 100%, 50%), -174px -123.3333333333px hsl(38deg, 100%, 50%), -96px -163.3333333333px hsl(239deg, 100%, 50%), 194px -28.3333333333px hsl(112deg, 100%, 50%), -130px 10.6666666667px hsl(7deg, 100%, 50%), 117px -136.3333333333px hsl(119deg, 100%, 50%), -88px -238.3333333333px hsl(230deg, 100%, 50%), -98px -153.3333333333px hsl(181deg, 100%, 50%), -228px -213.3333333333px hsl(316deg, 100%, 50%), -60px -105.3333333333px hsl(92deg, 100%, 50%), -62px 45.6666666667px hsl(159deg, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: 178px -126.3333333333px hsl(19deg, 100%, 50%), 47px -169.3333333333px hsl(281deg, 100%, 50%), -107px -117.3333333333px hsl(351deg, 100%, 50%), -58px -107.3333333333px hsl(147deg, 100%, 50%), 75px -307.3333333333px hsl(131deg, 100%, 50%), -69px -8.3333333333px hsl(320deg, 100%, 50%), 43px -112.3333333333px hsl(280deg, 100%, 50%), 12px -234.3333333333px hsl(181deg, 100%, 50%), -188px -259.3333333333px hsl(12deg, 100%, 50%), 29px -278.3333333333px hsl(144deg, 100%, 50%), 120px -244.3333333333px hsl(139deg, 100%, 50%), -83px -172.3333333333px hsl(290deg, 100%, 50%), -236px -53.3333333333px hsl(286deg, 100%, 50%), 235px -320.3333333333px hsl(180deg, 100%, 50%), 90px -8.3333333333px hsl(144deg, 100%, 50%), 205px 64.6666666667px hsl(332deg, 100%, 50%), -173px -148.3333333333px hsl(113deg, 100%, 50%), -210px -132.3333333333px hsl(129deg, 100%, 50%), 202px -330.3333333333px hsl(120deg, 100%, 50%), -6px -286.3333333333px hsl(84deg, 100%, 50%), 30px -213.3333333333px hsl(259deg, 100%, 50%), 245px -117.3333333333px hsl(142deg, 100%, 50%), -158px -252.3333333333px hsl(161deg, 100%, 50%), 190px -13.3333333333px hsl(19deg, 100%, 50%), 162px -292.3333333333px hsl(166deg, 100%, 50%), 170px -98.3333333333px hsl(189deg, 100%, 50%), 160px -44.3333333333px hsl(313deg, 100%, 50%), 226px 5.6666666667px hsl(304deg, 100%, 50%), 156px -282.3333333333px hsl(73deg, 100%, 50%), -22px -49.3333333333px hsl(287deg, 100%, 50%), 139px -176.3333333333px hsl(348deg, 100%, 50%), -88px -21.3333333333px hsl(64deg, 100%, 50%), 144px -204.3333333333px hsl(356deg, 100%, 50%), -124px 7.6666666667px hsl(277deg, 100%, 50%), -24px -17.3333333333px hsl(218deg, 100%, 50%), -46px -137.3333333333px hsl(278deg, 100%, 50%), -30px -139.3333333333px hsl(31deg, 100%, 50%), -80px -72.3333333333px hsl(326deg, 100%, 50%), 197px -290.3333333333px hsl(350deg, 100%, 50%), -166px -306.3333333333px hsl(283deg, 100%, 50%), -123px 6.6666666667px hsl(18deg, 100%, 50%), 87px -28.3333333333px hsl(118deg, 100%, 50%), 245px -321.3333333333px hsl(82deg, 100%, 50%), -41px -237.3333333333px hsl(226deg, 100%, 50%), -145px -289.3333333333px hsl(114deg, 100%, 50%), -9px -74.3333333333px hsl(276deg, 100%, 50%), 87px -171.3333333333px hsl(134deg, 100%, 50%), -130px -282.3333333333px hsl(318deg, 100%, 50%), -159px -252.3333333333px hsl(250deg, 100%, 50%), -216px -259.3333333333px hsl(211deg, 100%, 50%), -83px -19.3333333333px hsl(161deg, 100%, 50%), -174px -123.3333333333px hsl(38deg, 100%, 50%), -96px -163.3333333333px hsl(239deg, 100%, 50%), 194px -28.3333333333px hsl(112deg, 100%, 50%), -130px 10.6666666667px hsl(7deg, 100%, 50%), 117px -136.3333333333px hsl(119deg, 100%, 50%), -88px -238.3333333333px hsl(230deg, 100%, 50%), -98px -153.3333333333px hsl(181deg, 100%, 50%), -228px -213.3333333333px hsl(316deg, 100%, 50%), -60px -105.3333333333px hsl(92deg, 100%, 50%), -62px 45.6666666667px hsl(159deg, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
.flex-added {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-added ul {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.flex-added ul img {
  margin: 2rem;
}

body {
  overflow: auto;
  margin-left: 20rem;
}/*# sourceMappingURL=styles.css.map */