body {
  background: #769dc4;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 248px 45.6666666667px hsl(187deg, 100%, 50%), -208px -139.3333333333px hsl(173deg, 100%, 50%), -110px -100.3333333333px hsl(191deg, 100%, 50%), -7px 14.6666666667px hsl(106deg, 100%, 50%), -91px 62.6666666667px hsl(50deg, 100%, 50%), -39px -274.3333333333px hsl(171deg, 100%, 50%), -234px 27.6666666667px hsl(246deg, 100%, 50%), -29px 36.6666666667px hsl(48deg, 100%, 50%), 29px -210.3333333333px hsl(49deg, 100%, 50%), 11px -216.3333333333px hsl(155deg, 100%, 50%), -154px -161.3333333333px hsl(354deg, 100%, 50%), -221px 9.6666666667px hsl(27deg, 100%, 50%), 63px -330.3333333333px hsl(56deg, 100%, 50%), 21px -87.3333333333px hsl(284deg, 100%, 50%), 156px 64.6666666667px hsl(39deg, 100%, 50%), 204px 19.6666666667px hsl(23deg, 100%, 50%), -163px 29.6666666667px hsl(203deg, 100%, 50%), 102px -107.3333333333px hsl(124deg, 100%, 50%), 161px -260.3333333333px hsl(271deg, 100%, 50%), 94px -253.3333333333px hsl(30deg, 100%, 50%), -2px -232.3333333333px hsl(186deg, 100%, 50%), -54px -324.3333333333px hsl(209deg, 100%, 50%), -174px -4.3333333333px hsl(87deg, 100%, 50%), 189px -273.3333333333px hsl(300deg, 100%, 50%), 232px -107.3333333333px hsl(345deg, 100%, 50%), 219px 23.6666666667px hsl(312deg, 100%, 50%), 70px -229.3333333333px hsl(36deg, 100%, 50%), 127px -11.3333333333px hsl(104deg, 100%, 50%), 139px 33.6666666667px hsl(171deg, 100%, 50%), 225px -195.3333333333px hsl(100deg, 100%, 50%), -90px 13.6666666667px hsl(218deg, 100%, 50%), 24px -58.3333333333px hsl(64deg, 100%, 50%), -142px 18.6666666667px hsl(92deg, 100%, 50%), -234px 44.6666666667px hsl(75deg, 100%, 50%), -71px -208.3333333333px hsl(207deg, 100%, 50%), 195px -127.3333333333px hsl(93deg, 100%, 50%), -185px -80.3333333333px hsl(61deg, 100%, 50%), -238px 15.6666666667px hsl(329deg, 100%, 50%), -169px 53.6666666667px hsl(1deg, 100%, 50%), -193px -249.3333333333px hsl(199deg, 100%, 50%), 116px -64.3333333333px hsl(269deg, 100%, 50%), 159px 6.6666666667px hsl(284deg, 100%, 50%), 119px -193.3333333333px hsl(3deg, 100%, 50%), 222px -61.3333333333px hsl(36deg, 100%, 50%), 240px -157.3333333333px hsl(308deg, 100%, 50%), -41px -266.3333333333px hsl(343deg, 100%, 50%), -184px -98.3333333333px hsl(179deg, 100%, 50%), 91px -69.3333333333px hsl(306deg, 100%, 50%), -164px -174.3333333333px hsl(327deg, 100%, 50%), 119px -65.3333333333px hsl(97deg, 100%, 50%), -192px -2.3333333333px hsl(37deg, 100%, 50%), -220px -131.3333333333px hsl(203deg, 100%, 50%), -69px -255.3333333333px hsl(99deg, 100%, 50%), 164px 6.6666666667px hsl(292deg, 100%, 50%), -35px -46.3333333333px hsl(44deg, 100%, 50%), 28px 13.6666666667px hsl(125deg, 100%, 50%), 195px -276.3333333333px hsl(177deg, 100%, 50%), 57px 51.6666666667px hsl(195deg, 100%, 50%), 22px -62.3333333333px hsl(204deg, 100%, 50%), -212px -16.3333333333px hsl(10deg, 100%, 50%), 187px -35.3333333333px hsl(252deg, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: 248px 45.6666666667px hsl(187deg, 100%, 50%), -208px -139.3333333333px hsl(173deg, 100%, 50%), -110px -100.3333333333px hsl(191deg, 100%, 50%), -7px 14.6666666667px hsl(106deg, 100%, 50%), -91px 62.6666666667px hsl(50deg, 100%, 50%), -39px -274.3333333333px hsl(171deg, 100%, 50%), -234px 27.6666666667px hsl(246deg, 100%, 50%), -29px 36.6666666667px hsl(48deg, 100%, 50%), 29px -210.3333333333px hsl(49deg, 100%, 50%), 11px -216.3333333333px hsl(155deg, 100%, 50%), -154px -161.3333333333px hsl(354deg, 100%, 50%), -221px 9.6666666667px hsl(27deg, 100%, 50%), 63px -330.3333333333px hsl(56deg, 100%, 50%), 21px -87.3333333333px hsl(284deg, 100%, 50%), 156px 64.6666666667px hsl(39deg, 100%, 50%), 204px 19.6666666667px hsl(23deg, 100%, 50%), -163px 29.6666666667px hsl(203deg, 100%, 50%), 102px -107.3333333333px hsl(124deg, 100%, 50%), 161px -260.3333333333px hsl(271deg, 100%, 50%), 94px -253.3333333333px hsl(30deg, 100%, 50%), -2px -232.3333333333px hsl(186deg, 100%, 50%), -54px -324.3333333333px hsl(209deg, 100%, 50%), -174px -4.3333333333px hsl(87deg, 100%, 50%), 189px -273.3333333333px hsl(300deg, 100%, 50%), 232px -107.3333333333px hsl(345deg, 100%, 50%), 219px 23.6666666667px hsl(312deg, 100%, 50%), 70px -229.3333333333px hsl(36deg, 100%, 50%), 127px -11.3333333333px hsl(104deg, 100%, 50%), 139px 33.6666666667px hsl(171deg, 100%, 50%), 225px -195.3333333333px hsl(100deg, 100%, 50%), -90px 13.6666666667px hsl(218deg, 100%, 50%), 24px -58.3333333333px hsl(64deg, 100%, 50%), -142px 18.6666666667px hsl(92deg, 100%, 50%), -234px 44.6666666667px hsl(75deg, 100%, 50%), -71px -208.3333333333px hsl(207deg, 100%, 50%), 195px -127.3333333333px hsl(93deg, 100%, 50%), -185px -80.3333333333px hsl(61deg, 100%, 50%), -238px 15.6666666667px hsl(329deg, 100%, 50%), -169px 53.6666666667px hsl(1deg, 100%, 50%), -193px -249.3333333333px hsl(199deg, 100%, 50%), 116px -64.3333333333px hsl(269deg, 100%, 50%), 159px 6.6666666667px hsl(284deg, 100%, 50%), 119px -193.3333333333px hsl(3deg, 100%, 50%), 222px -61.3333333333px hsl(36deg, 100%, 50%), 240px -157.3333333333px hsl(308deg, 100%, 50%), -41px -266.3333333333px hsl(343deg, 100%, 50%), -184px -98.3333333333px hsl(179deg, 100%, 50%), 91px -69.3333333333px hsl(306deg, 100%, 50%), -164px -174.3333333333px hsl(327deg, 100%, 50%), 119px -65.3333333333px hsl(97deg, 100%, 50%), -192px -2.3333333333px hsl(37deg, 100%, 50%), -220px -131.3333333333px hsl(203deg, 100%, 50%), -69px -255.3333333333px hsl(99deg, 100%, 50%), 164px 6.6666666667px hsl(292deg, 100%, 50%), -35px -46.3333333333px hsl(44deg, 100%, 50%), 28px 13.6666666667px hsl(125deg, 100%, 50%), 195px -276.3333333333px hsl(177deg, 100%, 50%), 57px 51.6666666667px hsl(195deg, 100%, 50%), 22px -62.3333333333px hsl(204deg, 100%, 50%), -212px -16.3333333333px hsl(10deg, 100%, 50%), 187px -35.3333333333px hsl(252deg, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.root {
  border: 1px solid red;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */