body {
  background: #769dc4;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -109px -71.3333333333px hsl(90deg, 100%, 50%), 32px 56.6666666667px hsl(23deg, 100%, 50%), -123px -54.3333333333px hsl(211deg, 100%, 50%), -225px 12.6666666667px hsl(283deg, 100%, 50%), -228px -324.3333333333px hsl(347deg, 100%, 50%), 5px -288.3333333333px hsl(5deg, 100%, 50%), 57px -158.3333333333px hsl(148deg, 100%, 50%), 165px 44.6666666667px hsl(156deg, 100%, 50%), 78px -289.3333333333px hsl(276deg, 100%, 50%), 179px -176.3333333333px hsl(90deg, 100%, 50%), 225px -265.3333333333px hsl(293deg, 100%, 50%), 153px -313.3333333333px hsl(9deg, 100%, 50%), -3px -57.3333333333px hsl(70deg, 100%, 50%), 134px -11.3333333333px hsl(247deg, 100%, 50%), 105px -217.3333333333px hsl(30deg, 100%, 50%), -9px -281.3333333333px hsl(171deg, 100%, 50%), 194px -219.3333333333px hsl(135deg, 100%, 50%), -77px -201.3333333333px hsl(186deg, 100%, 50%), 105px -189.3333333333px hsl(206deg, 100%, 50%), -55px -284.3333333333px hsl(204deg, 100%, 50%), 205px -318.3333333333px hsl(127deg, 100%, 50%), -58px -2.3333333333px hsl(115deg, 100%, 50%), -115px -319.3333333333px hsl(152deg, 100%, 50%), -44px -191.3333333333px hsl(352deg, 100%, 50%), -56px -249.3333333333px hsl(182deg, 100%, 50%), -217px -115.3333333333px hsl(327deg, 100%, 50%), -23px -285.3333333333px hsl(112deg, 100%, 50%), 225px -61.3333333333px hsl(224deg, 100%, 50%), 106px -259.3333333333px hsl(73deg, 100%, 50%), 197px 26.6666666667px hsl(5deg, 100%, 50%), -4px -216.3333333333px hsl(247deg, 100%, 50%), 200px -131.3333333333px hsl(293deg, 100%, 50%), -169px -116.3333333333px hsl(119deg, 100%, 50%), 98px 6.6666666667px hsl(306deg, 100%, 50%), 173px -109.3333333333px hsl(337deg, 100%, 50%), -76px -325.3333333333px hsl(319deg, 100%, 50%), 166px -323.3333333333px hsl(46deg, 100%, 50%), 38px -332.3333333333px hsl(186deg, 100%, 50%), 191px -308.3333333333px hsl(109deg, 100%, 50%), -31px -262.3333333333px hsl(284deg, 100%, 50%), 173px 25.6666666667px hsl(38deg, 100%, 50%), -48px -130.3333333333px hsl(93deg, 100%, 50%), 105px -51.3333333333px hsl(238deg, 100%, 50%), -112px -153.3333333333px hsl(170deg, 100%, 50%), -15px -274.3333333333px hsl(346deg, 100%, 50%), 30px -54.3333333333px hsl(184deg, 100%, 50%), 213px -142.3333333333px hsl(245deg, 100%, 50%), -89px -17.3333333333px hsl(356deg, 100%, 50%), -83px -258.3333333333px hsl(293deg, 100%, 50%), -194px 48.6666666667px hsl(8deg, 100%, 50%), 65px -171.3333333333px hsl(213deg, 100%, 50%), -108px -202.3333333333px hsl(157deg, 100%, 50%), 154px 20.6666666667px hsl(8deg, 100%, 50%), 2px -157.3333333333px hsl(247deg, 100%, 50%), 138px -306.3333333333px hsl(61deg, 100%, 50%), 3px -288.3333333333px hsl(117deg, 100%, 50%), -128px -28.3333333333px hsl(201deg, 100%, 50%), -80px -312.3333333333px hsl(288deg, 100%, 50%), -190px -133.3333333333px hsl(304deg, 100%, 50%), 44px 18.6666666667px hsl(293deg, 100%, 50%), 44px -243.3333333333px hsl(299deg, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: -109px -71.3333333333px hsl(90deg, 100%, 50%), 32px 56.6666666667px hsl(23deg, 100%, 50%), -123px -54.3333333333px hsl(211deg, 100%, 50%), -225px 12.6666666667px hsl(283deg, 100%, 50%), -228px -324.3333333333px hsl(347deg, 100%, 50%), 5px -288.3333333333px hsl(5deg, 100%, 50%), 57px -158.3333333333px hsl(148deg, 100%, 50%), 165px 44.6666666667px hsl(156deg, 100%, 50%), 78px -289.3333333333px hsl(276deg, 100%, 50%), 179px -176.3333333333px hsl(90deg, 100%, 50%), 225px -265.3333333333px hsl(293deg, 100%, 50%), 153px -313.3333333333px hsl(9deg, 100%, 50%), -3px -57.3333333333px hsl(70deg, 100%, 50%), 134px -11.3333333333px hsl(247deg, 100%, 50%), 105px -217.3333333333px hsl(30deg, 100%, 50%), -9px -281.3333333333px hsl(171deg, 100%, 50%), 194px -219.3333333333px hsl(135deg, 100%, 50%), -77px -201.3333333333px hsl(186deg, 100%, 50%), 105px -189.3333333333px hsl(206deg, 100%, 50%), -55px -284.3333333333px hsl(204deg, 100%, 50%), 205px -318.3333333333px hsl(127deg, 100%, 50%), -58px -2.3333333333px hsl(115deg, 100%, 50%), -115px -319.3333333333px hsl(152deg, 100%, 50%), -44px -191.3333333333px hsl(352deg, 100%, 50%), -56px -249.3333333333px hsl(182deg, 100%, 50%), -217px -115.3333333333px hsl(327deg, 100%, 50%), -23px -285.3333333333px hsl(112deg, 100%, 50%), 225px -61.3333333333px hsl(224deg, 100%, 50%), 106px -259.3333333333px hsl(73deg, 100%, 50%), 197px 26.6666666667px hsl(5deg, 100%, 50%), -4px -216.3333333333px hsl(247deg, 100%, 50%), 200px -131.3333333333px hsl(293deg, 100%, 50%), -169px -116.3333333333px hsl(119deg, 100%, 50%), 98px 6.6666666667px hsl(306deg, 100%, 50%), 173px -109.3333333333px hsl(337deg, 100%, 50%), -76px -325.3333333333px hsl(319deg, 100%, 50%), 166px -323.3333333333px hsl(46deg, 100%, 50%), 38px -332.3333333333px hsl(186deg, 100%, 50%), 191px -308.3333333333px hsl(109deg, 100%, 50%), -31px -262.3333333333px hsl(284deg, 100%, 50%), 173px 25.6666666667px hsl(38deg, 100%, 50%), -48px -130.3333333333px hsl(93deg, 100%, 50%), 105px -51.3333333333px hsl(238deg, 100%, 50%), -112px -153.3333333333px hsl(170deg, 100%, 50%), -15px -274.3333333333px hsl(346deg, 100%, 50%), 30px -54.3333333333px hsl(184deg, 100%, 50%), 213px -142.3333333333px hsl(245deg, 100%, 50%), -89px -17.3333333333px hsl(356deg, 100%, 50%), -83px -258.3333333333px hsl(293deg, 100%, 50%), -194px 48.6666666667px hsl(8deg, 100%, 50%), 65px -171.3333333333px hsl(213deg, 100%, 50%), -108px -202.3333333333px hsl(157deg, 100%, 50%), 154px 20.6666666667px hsl(8deg, 100%, 50%), 2px -157.3333333333px hsl(247deg, 100%, 50%), 138px -306.3333333333px hsl(61deg, 100%, 50%), 3px -288.3333333333px hsl(117deg, 100%, 50%), -128px -28.3333333333px hsl(201deg, 100%, 50%), -80px -312.3333333333px hsl(288deg, 100%, 50%), -190px -133.3333333333px hsl(304deg, 100%, 50%), 44px 18.6666666667px hsl(293deg, 100%, 50%), 44px -243.3333333333px hsl(299deg, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.root {
  border: 1px solid red;
}/*# sourceMappingURL=styles.css.map */